@charset "UTF-8";

body {
    background-color: white;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 25px;
}

nav {
    font-size: 25px;
    justify-content: space-around;
    word-spacing: 20px;
    text-align: center;
}

nav a {
    color: #000;
    text-decoration: none;
 }
 
nav a:visited {
     color: #000;
 }

nav a:hover {
     color: #0615e7;
     text-decoration: underline;
 }

nav a:active {
     color: #5406ee;
 }

section {
    position: relative;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

.curiosidade {
    font-family: 'Helvetica', serif;
    font-size: 20px;
    line-height: 200%;
}

.imagem {
    display: block; 
    margin: 0 auto;
    width: 50%;
    box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, 0.514)

}

h2 {
    font-family: 'Helvetica';
    padding-left: 20px;
}

h2 a {
    text-decoration: none;
}

footer {
    font-family: 'Helvetica', cursive; 
    text-align: center;
    position: relative;
}